<!-- Modal confirm delete register -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Atenção!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="tim-icons icon-simple-remove"></i>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja excluir o registro?
        </div>
        <form method="post"
        id="item-delete-form"
        >
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cancelar</button>
            {% csrf_token %}
          <button type="submit" class="btn btn-danger" id="item-delete-form">Excluir</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
    <script>
      function delete_register(pk){
        let href = document.querySelector('#delete-item').href + pk + '/'
  
        document.getElementById("item-delete-form").action = href
      }
    </script>
  {% endblock javascripts %}