{% extends "layouts/base.html" %}

{% block title %} Vínculo {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <style>
    .bg-purple {
      background-color:#ddc7ea !important;
      border-radius: 2px;
    }
  </style>
{% endblock stylesheets %}

{% block content %}
  <div class="content" id="list" data-url="{% url 'vinculo_list' %}">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" id="nav-header" data-url="{% url 'vinculo_novo' %}" data-filter="true">
            <h5 class="title">Cadastro de vínculos</h5>
          </div>
          <div class="card-body">
            {% include "includes/nav-header.html" %}
            <table class="table table-hover">
              <thead>
                  <tr>
                      <th class="text-center">Servidor</th>
                      <th>Matrícula</th>
                      <th>Cargo</th>
                      <th>Lotação</th>
                      <th>Data de início</th>
                      <th>Data de término</th>
                      <th class="text-center">Ações</th>
                  </tr>
              </thead>
              <tbody>
                {% for vinculo in vinculos %}
                  <tr>
                      <td class="text-center">{{ vinculo.servidor }}</td>
                      <td>{{ vinculo.matricula }}</td>
                      <td>{{ vinculo.cargo }}</td>
                      <td>{{ vinculo.lotacao }}</td>
                      <td>{{ vinculo.data_inicio }}</td>
                      <td>{{ vinculo.data_fim }}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                            <a href="{% url 'vinculo_editar' pk=vinculo.pk %}">
                              <i class="tim-icons icon-settings" title="Editar registro"></i>
                            </a>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                            <a href="delete/" data-toggle="modal" data-target="#deleteModal" id="delete-item" onclick="delete_register('{{ vinculo.pk }}')">
                              <i class="tim-icons icon-simple-remove" title="Excluir registro" ></i>
                            </a>
                          </button>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </div>

  {% include "includes/delete-modal.html" %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
